# SMTP Configuration
# For Google SMTP (Gmail):
# 1. SMTP_HOST=smtp.gmail.com
# 2. SMTP_PORT=587 (or 465 for SSL)
# 3. SMTP_USER=your_email@gmail.com
# 4. SMTP_PASS=your_16_character_google_app_password
# 5. SMTP_FROM="Campus Sports Booking" <your_email@gmail.com>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jeffyjoe1034@gmail.com
SMTP_PASS=nzudbryqunjlrgvf
SMTP_FROM="Campus Sports Booking" <jeffyjoe1034@gmail.com>
